@page "/mahasiswa/add"

<form action ="https://kpsi.fti.ukdw.ac.id/api/progmob/mhs/create?nim_progmob=72200407" method="post">
  <h3 class="h3-add">Masukkan Data</h3>
  <div class="div-btn">
    <a href="mahasiswa">
      <button type="button" class="btn btn-primary">Back</button>
      </a>
      </div>
   
  <div class="form-group">
    <input type="text" name="nama" class="form-control" placeholder="Nama">
  </div>
  <div class="form-group">
    <input type="number" name="nim" class="form-control" placeholder="Nim">
  </div>
  <div class="form-group">
    <input type="text" name="alamat" class="form-control" placeholder="Alamat">
  </div>
    <div class="form-group">
    <input type="email" name="email" class="form-control" placeholder="Email">
  </div>
        <button type="submit" class="btn btn-primary">Submit</button>  
</form>

