@page "/mahasiswa"
@inject HttpClient Http
<PageTitle>Weather forecast</PageTitle>

@using System.Net.Http
@using System.Net.Http.Json


<h1>MAHASISWA SI UKDW</h1>

<p>This component demonstrates fetching data from a service.</p>

<div class="div-btn">
   
    <form action="https://kpsi.fti.ukdw.ac.id/api/progmob/mhs/72200407/" method="get">
   <input type="number" name="nim" placeholder="NIM">
   <button type="submit" class="btn btn-primary">Cari</button>  
</form>
    
</div>

@if (mhs == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <table class="table">
        <thead>
           
            <tr>
                <th>ID</th>
                <th>NAMA</th>
                <th>NIM</th>
                <th>ALAMAT</th>
                <th>AKSI</th>
            </tr>
        </thead>
         @foreach (var mh in mhs)
            {
                 <tbody>  
                <tr>
                    <td>@mh.id</td>
                    <td>@mh.nama</td>
                    <td>@mh.nim</td>
                    <td>@mh.alamat</td>
                    <td>test</td>
                </tr>
            
        </tbody>
                
            }
       
    </table>
}
<div class="div-btn">
 <a href="/mahasiswa/add">
    <button type="button" class="btn btn-primary">Add Mahasiswa</button>
    </a>
    </div>

@code {
    private Mahasiswa[]? mhs;

    protected override async Task OnInitializedAsync()
    {
        mhs = await Http.GetFromJsonAsync<Mahasiswa[]>("https://kpsi.fti.ukdw.ac.id/api/progmob/mhs/72200407");
    }

public class Mahasiswa
{
public int id { get; set; }
public string nama { get; set; }

public string nim { get; set; }

public string alamat { get; set; }

public string email { get; set; }

public string foto { get; set; }
} 

}