@page "/mahasiswa"
@inject HttpClient Http
<PageTitle>Weather forecast</PageTitle>

@using System.Net.Http
@using System.Net.Http.Json


<h1>MAHASISWA SI UKDW</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (mhs == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <table class="table">
        <thead>
           
            <tr>
                <th>ID</th>
                <th>NAMA</th>
                <th>NIM</th>
                <th>ALAMAT</th>
            </tr>
        </thead>
         @foreach (var mh in mhs)
            {
                 <tbody>  
                <tr>
                    <td>@mh.id</td>
                    <td>@mh.nama</td>
                    <td>@mh.nim</td>
                    <td>@mh.alamat</td>
                </tr>
            
        </tbody>
                
            }
       
    </table>
}

@code {
    private Mahasiswa[]? mhs;

    protected override async Task OnInitializedAsync()
    {
        mhs = await Http.GetFromJsonAsync<Mahasiswa[]>("https://kpsi.fti.ukdw.ac.id/api/progmob/mhs/72170177");
    }

public class Mahasiswa
{
public int id { get; set; }
public string nama { get; set; }

public string nim { get; set; }

public string alamat { get; set; }

public string email { get; set; }

public string foto { get; set; }
} 

}